body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gray{
  background-color: #7f8186;
  height: 50px;
  width: 50px;
  margin: 5px;
}
.red{
  background-color: #f83b51;
  height: 50px;
  width: 50px;
  margin: 5px;
}

.classNameBox{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: 60px;
  background-color: #61dafb;
  height: 600px;
  width: 600px;
}